.book-trip-page {
  display: flex;
  margin-top: 36px;
  margin-bottom: 36px;
  padding-left: 116px;
  padding-right: 116px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1080px;
}

.book-trip-form {
  float: left;
  width: 45%;
  margin: 50px;
  padding: 32px;
  font-size: 24px;
  font-weight: normal;
  float: left;
  line-height: 1.1;
  text-rendering: optimizelegibility;
}

.book-txt {
  font-size: 16px !important;
  margin: 16px 0 16px 0;
  display: block;
}

.book-dd {
  width: 50% !important;
  margin-top: 8px;
}

.select-bk-dd {
  font-size: 16px !important;
}

.pet-info {
  margin: 0 16px 0 16px;
  font-size: 16px !important;
}

.bk-right-panel {
  float: left;
  width: 45%;
  margin: 12px;
  padding: 16px;
}

.bk-tp-btn {
  padding: 9px !important;
  font-size: 16px !important;
  width: 16.666666666% !important;
  float: left
}

.say-hello-container {
  display: block;
  padding-top: 9px;
  padding-bottom: 8px;
  font-size: 16px;
  margin-bottom: 42px;
  line-height: 1.43;
}

.say-hello {
  width: 100%;
  height: 120px;
  font-size: 16px !important;
  margin-top: 12px;
  display: block;
  padding: 12px;
  resize: vertical;
  line-height: inherit;
  border-radius: 2px;
  white-space: pre-line;
  word-wrap: break-word;
  position: relative;
  overflow: auto;
  vertical-align: top;
  border: 1px solid #aaa;
}
