.book-trip-page {
  display: flex;
  margin-top: 36px;
  margin-bottom: 36px;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1080px;
}

.book-trip-form {
  float: left;
  width: 45%;
  margin: 50px;
  padding: 32px;
  font-size: 24px;
  font-weight: normal;
  float: left;
  line-height: 1.1;
  text-rendering: optimizelegibility;
}

.book-txt {
  font-size: 16px !important;
  margin: 16px 0 16px 0;
  display: block;
}

.book-dd {
  width: 50% !important;
  margin-top: 8px;
}

.select-bk-dd {
  font-size: 16px !important;
}

.pet-info {
  margin: 0 16px 0 16px;
  font-size: 16px !important;
  font-weight: 400;
}

.bk-tp-btn {
  padding: 9px !important;
  font-size: 16px !important;
  width: 16.666666666% !important;
  float: left
}

.say-hello-container {
  display: block;
  padding-top: 9px;
  padding-bottom: 8px;
  font-size: 16px;
  margin-bottom: 42px;
  line-height: 1.43;
}

.say-hello {
  width: 100%;
  height: 120px;
  font-size: 16px !important;
  margin-top: 12px;
  display: block;
  padding: 12px;
  resize: vertical;
  line-height: inherit;
  border-radius: 2px;
  white-space: pre-line;
  word-wrap: break-word;
  position: relative;
  overflow: auto;
  vertical-align: top;
  border: 1px solid #aaa;
}

.bk-right-panel {
  margin-bottom: 12px;
  left: 58.33333%;
  width: 35%;
  float: left;
  margin: 12px;
  border: 1px solid #aaa;
}

.bk-title {
  font-size: 24px;
  line-height: 30px;
}

.bk-desc {
  font-size: 14px;
  color: #767676;
  font-weight: 500;
}

.panel-body:first-child {
  padding-top: 30px;
}

.panel-body {
  padding: 25px 20px;
}

.panel-body:last-child {
  display: flex;
  justify-content: space-between;
  font-size: 15px !important;
  font-weight: 500;
}


.bk-host {
  color: #767676;
  font-weight: 500;
}

.bk-checkin {
  font-size: 14px;
  color: black;
  font-weight: 500;
}

.book-div {
  content: "";
  top: -1px;
  height: 1px;
  left: 20px;
  right: 20px;
  width: 80%;
  margin: 0 auto;
  border-top: 1px solid #dce0e0;
}

.calendar-position {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  margin-bottom: 16px;
}

.bk-price-row {
  display: flex !important;
  justify-content: space-between;
  font-weight: 400;
  color: #484848;
  word-wrap: break-word;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.2px;
  padding-top: 0px;
  padding-bottom: 0px;
  display: inline;
  margin-bottom: 16px;
}

.cal-col {
  float: left;
}

.bk-checkin, .check-col {
  font-size: 16px;
  color: #767676;
  margin-top: 8px;
  padding: 0 16px 0 16px;
}
