.headerBar {
  z-index: 10;
  display: flex;
  position: fixed;
  width: 100%;
  background: #ffffff;
  border-bottom: 1px solid #e4e4e4;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  height: 105px;
  box-sizing: border-box;
  justify-content: space-between;
}

.headerBar-relative { /// if in show page 64px height and  header isnt fixed
  z-index: 10;
  display: flex;
  position: relative;
  width: 100%;
  background: #ffffff;
  border-bottom: 1px solid #e4e4e4;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  height: 64px;
  box-sizing: border-box;
  justify-content: space-between;
}

.Logo {
  background-image: asset-url('SafeHavn.png');
  display: block;
  height: 34px;
  width: 34px;
  text-align: center !important;
  box-sizing: border-box;
}

.Logo:hover {
  cursor: pointer !important;
}

.AuthButtons {
  background: transparent !important;
  display: flex;
  align-items: center;
  border: none !important;
  color: inherit !important;
  height: 64px !important;
  line-height: 64px !important;
  margin: 0px;
  position: relative !important;
  white-space: nowrap !important;
  vertical-align: middle !important;
}

.left {
  display: table-cell !important;
  height: 64px !important;
  position: relative !important;
  text-align: center !important;
  text-decoration: none !important;
  transition: 0.25s color !important;
  padding-left: 24px !important;
  padding-right: 24px !important;
  padding-top: 12px !important;
  vertical-align: middle !important;
  white-space: nowrap !important;
}

.vertical-nav-wrapper {
  position: absolute;
  left: 24px;
  top: 64px;
}

.nav-list {
  border-bottom: none;
  position: relative;
}

.landing-card-container {
  width: 25%;
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  padding: 8px 0 12px 0;
  position: relative;
  background: #ffffff;
  color: #484848;
  height: 100%;
}

.nav-cols1-select, .nav-cols2-select {
  margin: 0 32px 0 0;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #008489;
  background-color: transparent;
  border-width: 0px;
  border-bottom: 2px solid #008489;
  bottom: -1px;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  -moz-transition-property: color;
  transition-property: color;
  transition-duration: 300ms;
  transition-timing-function: ease-out;
}

.nav-cols1, .nav-cols2 {
  margin: 0 32px 0 0;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #484848;
  border-width: 0px;
  border-bottom: 2px solid transparent;
  bottom: -1px;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
}

.nav-cols1-select:hover, .nav-cols2-select:hover, .nav-cols1:hover, .nav-cols2:hover {
  text-decoration: none;
}

.trip-link:hover {
  text-decoration: none;
}

.pf-pic-cont {
  display: block;
  font-size: 22px;
  text-align: -webkit-center;
}

.file-up {
  display: block;
  margin: 8px 0 8px 0;
}

.upload-btn {
  color: white !important;
  width: 45% !important;
}

.parent-img {
  position: relative;
  width: 35%;
  padding-bottom: 35%;
  height: 0;
  margin: 0 auto;
}

.upload-img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  border-radius: 50%;
  border: 1px solid lightgrey;
  object-fit: cover;
}

.upload-box {
  height: 200px !important;
  position: relative;
  border: 2px solid transparent;
  width: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
  padding-left: 16px;
  background: transparent;
  border-color: #008489;
  margin-top: 12px;
  border-radius: 4px;
  cursor: pointer;
}

.upload-cont {
  margin: 0 auto;
}

.upload-txt {
  position: absolute;
  bottom: 8px;
  left: 0;
  right: 0;
}

.tt {
  color: #484848;
  border: 1px solid #e4e4e4;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  margin-top: 16px !important;
}

.tt-txt {
  display: block;
  font-size: 16px;
  font-weight: 400;
}

.tt-txt:first-child {
  padding-top: 8px;
}
.tt-txt:last-child {
  padding-bottom: 8px;
}
