.link-to:hover, .link-to:visited, .link-to:link, .link-to:active {
  text-decoration: none;
}

.index-container {
  padding-top: 24px;
  margin-left: 16px;
  display: flex;
}

.home-card-slider {
  width: 66%;
  padding-top: 60px;
  position: relative;
  overflow: hidden;
  overflow-y: hidden !important;
  white-space: normal;
  margin-right: 16px;
}

.home-card-container {
  width: 33.3333333333% !important;
  display: inline-block !important;
  vertical-align: top;
  white-space: normal;
  padding: 8px 0 12px 0;
}

.home-card {
  position: relative;
  height: 100%;
  padding: 8px;
}

.show-card { //picture
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // width: 100%;
  // position: relative;
  overflow: hidden !important;
  object-fit: cover;
}

.show-card-container {
  width: 100%;
  height: 100%
}

// .heart-icon {
//   position: absolute;
//   top: 16px;
//   right: 16px;
//   z-index: 2;
//   height: 32px;
//   width: 32px;
// }

.card-top-row {
  padding-top: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-norm {
  font-size: 15px;
  font-weight: 300;
  color: #484848;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  word-wrap: break-word;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.2px;
  margin-top: 2px;
}

.card-bold {
  font-weight: 700;
  color: #484848;
  margin: 0px;
  word-wrap: break-word;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.2px;
  padding-top: 0px;
  padding-bottom: 0px;
  display: inline;
}

.card-review {
  margin-top: 4px;
  display: inline-block;
}

.card-review-stars {
  vertical-align: middle;
  font-family: initial;
  display: inline;
  margin-right: 4px;
}

.reviews {
  font-size: 12px;
  letter-spacing: 0.4px;
  display: inline;
}

.map-container-rel {
  display: block;
  left: auto;
  width: 34%;
  background: red; // for test
  height: 500px; // for test
}
