.modal-root {
  z-index: 2000 !important;
  position: fixed !important;
  top: 0px !important;
  right: 0px !important;
  bottom: 0px !important;
  left: 0px !important;
  overflow-y: auto !important;
  display: block;
}

.modal-parent {
  display: table !important;
  height: 100% !important;
  width: 100% !important;
  background-color: rgba(0, 0, 0, 0.75) !important;

}

.modal-screen {
  display: table-cell !important;
  vertical-align: middle !important;
  padding: 64px !important;
}

.closeModal {
  position: fixed !important;
  z-index: -1 !important;
  top: 0px !important;
  right: 0px !important;
  bottom: 0px !important;
  left: 0px !important;
  overflow-y: auto !important;
  display: block;
}

.modal-wrapper {
  z-index: 0 !important;
  background-color: #ffffff !important;
  margin: auto !important;
  max-width: 568px !important;
  width: 100% !important;
  position: relative !important;
}

.modal-content {
  z-index: 2000 !important;
  background-color: #ffffff !important;
  padding: 32px !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
}
