.modal-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: rgba(0, 0, 0, 0.7);
}

.modal-content {
  position: absolute;
  z-index: 1000;
  top: 50%;
  left: 50%;
  width: 500px;
  max-width: 100%;
  padding: 50px;
  margin-left: -300px;
  transform: translateY(-50%);
  background: white;
  border-radius: 5px;
}
