.search-container {
  height: 64px;
  position: relative;
  text-decoration: none;
  transition: 0.25s color;
  padding: 0 0 0 32px;
  text-align: initial;
}

#search-field {
  border: 1px solid #DBDBDB;
  box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.2px;
  padding-bottom: 0px;
  color: #484848;
  font-weight: 500;
  background-color: transparent;
  padding: 12px;
  padding-left: 16px;
  text-overflow: ellipsis;
  width: 30em;
}
