// Place all the styles related to the api/Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.LogInButton:hover, .SignUpButton:hover, .SignOutButton:hover {
  border-bottom: 2px solid #484848 !important;
  cursor: pointer !important;
}

.LogInButton, .SignUpButton, .SignOutButton {
  padding: 8px 0 !important;
  vertical-align: middle !important;
  line-height: 1 !important;
  border-bottom: 2px solid transparent !important;
  float: right;
  margin-left: 16px;
  margin-right: 16px;
}


.SubmitForm :hover {
  cursor: pointer !important;
}

.SubmitForm {
  position: relative !important;
  color: #484848 !important;
  border-color: #484848 !important;
  width: 568px !important;
  height: 805px;
}

.SubmitForm > label {
  margin: 20px;
}

.ModalErrors {
  margin: 5px;
}

.ModalErrors > li {
  font-size: 16px;
  margin: 10px;
}

.ModalErrors:hover, .ModalErrors > li:hover {
  cursor: inherit !important;
}

.LastInput, .PasswordInput, .SubmitButton, .EmailInput, .FirstInput {
  font-family: sans-serif !important;
  font-size: 19px !important;
  line-height: 24px !important;
  letter-spacing: undefined !important;
  padding-top: undefined !important;
  padding-bottom: undefined !important;
  color: #484848;
  font-weight: 300 !important;
  background-color: transparent !important;
  border: 0px !important;
  padding: 11px !important;
  width: 100% !important;
}

.reg-box {
  overflow: hidden !important;
  font-size: 19px !important;
  line-height: 24px !important;
  color: #484848 !important;
  border: 1px solid #DBDBDB !important;
  margin-bottom: 8px !important;
  position: relative !important;
  display: block !important;
  width: 100% !important;
}

.SubmitButton {
  background: #FF5A5F;
  margin-top: 20px;
  text-align: center !important;
  background: #FF5A5F !important;
}

.signup-divider {
  position: relative;
}

.btn-text {
  font-weight: bold;
  color: white;
}

.va-container {
  display: table;
  position: relative;
  width: 100%
}

.switch-to {
  vertical-align: middle;
  display: table-cell;
}

.account-txt {
  font-weight: 300 !important;
  color: #484848 !important;
  font-family: sans-serif;
  margin: 0px !important;
  word-wrap: break-word !important;
  font-size: 19px !important;
  line-height: 24px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  display: block;
  box-sizing: border-box;
}

.switch {
  float: right;
  vertical-align: middle;
  display: inline-block !important;
  text-align: center !important;
  text-decoration: none !important;
  font-weight: 700 !important;
  border-radius: 4px !important;
  cursor: pointer !important;
  transition: background 0.3s, border-color 0.3s !important;
  position: relative !important;
  border: 2px solid transparent !important;
  width: auto !important;
  font-family: sans-serif;
  font-size: 15px !important;
  line-height: 15px !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  color: #484848 !important;
  padding-right: 16px !important;
  padding-left: 16px !important;
  background: transparent !important;
  border-color: #008489 !important;
}

.register-txt {
  font-size: 15px !important;
  line-height: 15px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  color: #008489 !important;
  white-space: normal !important;
  font-weight: 700 !important;
  text-align: center !important;

}
