// Place all the styles related to the api/Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header-enter:hover, .SignOutButton:hover {
  border-bottom: 2px solid #484848 !important;
  cursor: pointer !important;
}

.image-hov:hover {
  border-bottom: 2px solid #484848 !important;
}

.image-hov {
  height: 44px;
  width: 44px;
  margin: 0 12px 0 12px;
}

.pic-head {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  margin: 0 auto;
  object-fit: cover;
}

.header-enter, .SignOutButton {
  padding: 8px 0 !important;
  vertical-align: middle !important;
  line-height: 1 !important;
  border-bottom: 2px solid transparent !important;
  float: right;
  margin-left: 16px;
  margin-right: 16px;
  display: block;
  background-repeat: no-repeat;
}

.pinkButton:hover, .x-close:hover {
  cursor: pointer !important;
}

.SubmitForm {
  position: relative !important;
  color: #484848 !important;
  border-color: #484848 !important;
  margin-top: 16px;
  margin-bottom: 16px;
}

.ModalErrors {
  margin-top: 8px;
}

.ModalErrors > li {
  font-size: 15px;
  margin: 8px;
}

.lastInput, .PasswordInput, .EmailInput, .firstInput {
  font-family: sans-serif;
  font-size: 19px;
  line-height: 24px;
  color: #484848;
  font-weight: 300;
  background-color: transparent;
  border: 0px;
  padding: 11px;
  width: 100%;
}


.reg-box {
  overflow: hidden !important;
  font-size: 19px !important;
  line-height: 24px !important;
  color: #484848 !important;
  border: 1px solid #DBDBDB;
  margin-bottom: 16px !important;
  position: relative !important;
  display: block !important;
  width: 100% !important;
  border-radius: 2px;
}

.reg-box:focus {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}

.pinkButton {
  margin-top: 16px;
  text-align: center;
  cursor: pointer;
  transition: background 0.3s, border-color 0.3s;
  position: relative;
  border: 2px solid transparent;
  border-radius: 4px;
  width: 100%;
  font-size: 19px;
  line-height: 22px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #484848;
  font-weight: 700;
  padding-right: 24px;
  padding-left: 24px;
  min-width: 77.66563145999496px;
  background: #FF5A5F;
  align-items: flex-start;
}

.signup-divider {
  position: relative;
  margin-top: 16px;
  margin-bottom: 16px
}

.btn-text {
  font-weight: bold;
  color: white;
}

.va-container {
  display: table;
  position: relative;
  width: 100%
}

.switch-to {
  vertical-align: middle;
  display: table-cell;
}

.account-txt {
  font-weight: 300 !important;
  color: #484848 !important;
  margin: 0px !important;
  word-wrap: break-word !important;
  font-size: 19px !important;
  line-height: 24px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  display: block;
  box-sizing: border-box;
}

.switch {
  float: right;
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  border: 2px solid transparent;
  width: auto;
  font-size: 15px;
  line-height: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #484848;
  padding-right: 16px;
  padding-left: 16px;
  background: transparent;
  border-color: #008489;
}

.register-txt {
  font-size: 15px !important;
  line-height: 15px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  color: #008489 !important;
  white-space: normal !important;
  font-weight: 700 !important;
  text-align: center !important;
}

.x-close {
  font-weight: bold;
  height: 16px;
  width: 16px;
	border-radius: 3px;
	transition: background-color 0.3s;
  cursor: pointer;
  background-color: transparent;
  border: 0px;
  display: block;
	font-size: 14px;
	text-align: center;
  background-image: asset-url('cross.png');
  margin-bottom: 16px;
}

.post-fix {
  right: 12px !important;
  padding-top: 11px !important;
  position: absolute !important;
  top: 0px !important;
}

.ltico, .ftico {
  background-image: asset-url('avatar.png');
  display: block;
  fill: currentcolor;
  height: 1em;
  width: 1em;
}

.pwico{
  background-image: asset-url('lock.png');
  display: block;
  fill: currentcolor;
  height: 1em;
  width: 1em;
}

.emico{
  background-image: asset-url('email.png');
  display: block;
  fill: currentcolor;
  height: 1em;
  width: 1em;
}

.birthdayContainer {
  box-sizing: border-box;
  margin-bottom: 16px;
}

.birthdayTitle {
  font-weight: normal;
  color: #484848;
  margin: 0px;
  word-wrap: break-word;
  font-size: 19px;
  line-height: 24px;
  letter-spacing: undefined;
  padding-top: 0px;
  padding-bottom: 0px;
}

.birthdayText {
  font-weight: 300;
  color: #484848;
  margin: 0px;
  margin-top: 8px;
  word-wrap: break-word;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.2px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.birthdayRow {
  margin-top: 8px;
  margin-left: -8px;
  margin-right: -8px;
  box-sizing: border-box;
  display: inline-flex;
  width: 100%;
}


.bday-column {
  padding-left: 8px;
  padding-right: 8px;
  min-height: 1px;
  position: relative;
  width: 33.33333333333333%;
  float: left;
}

.select-container {
  padding-right: 8px;
  min-height: 1px;
  position: relative;
  float: left;
  width: 100%;
}


.label-hidden {
  position: absolute;
  display: block;
  border: 0px;
  margin: -1px;
  padding: 0px;
  height: 1px;
  width: 1px;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.select-dd-container {
  font-size: 19px;
  line-height: 24px;
  letter-spacing: undefined;
  padding-top: undefined;
  padding-bottom: undefined;
  color: #484848;
  position: relative;
  display: block;
  background: #ffffff;
  border: 1px solid #DBDBDB;
  border-radius: 2px;
  margin-bottom: 8px;
  width: 100%;
  overflow: hidden;
}

.select-dropdown {
  -webkit-appearance: none;
  font-size: 19px;
  line-height: 24px;
  color: #484848;
  font-weight: 300;
  background-color: transparent;
  border: none;
  border-radius: 0px;
  padding: 10px;
  padding-right: 40px;
  height: 44px;
  display: block;
  width: 100%;
}

.dropdown-arrow {
  background-image: asset-url('downarrow.png');
  position: absolute !important;
  top: 16px !important;
  right: 16px !important;
  line-height: 0 !important;
  pointer-events: none !important;
  display: block;
  fill: rgb(72, 72, 72);
  height: 16px;
  width: 16px;
}

.subscribe-info {
  font-weight: 300;
  cursor: pointer;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: undefined;
  padding-top: undefined;
  padding-bottom: undefined;
  color: #484848;
  position: relative;
  top: -3px;
  vertical-align: top;
  padding-left: 6px;
  display: table-cell;
  vertical-align: top;
  white-space: normal;
}

.disclaimer {
  font-weight: normal;
  color: #484848;
  font-family: sans-serif;
  margin: 0px;
  word-wrap: break-word;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.subscribe-lab {
  background: transparent !important;
  border: 0px !important;
  cursor: pointer !important;
  display: table !important;
  padding: 0px !important;
  margin-bottom: 16px;
}

.subscribe-img {
  // background-image: asset-url('chempty.png');
  cursor: pointer !important;
  padding: 0px !important;
  display: table-cell !important;
  vertical-align: top !important;
  white-space: normal !important;
}

.subbox-input {
  // background-image: asset-url('checin.png');
  // -webkit-appearance: none;
  height: 1.25em;
  width: 1.25em;
  margin-bottom: -.25em;
  margin-right: 5px;
  vertical-align: top;
}
