html {
	position: relative;
	height: 100%;
}

body {
	margin: 0 auto;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serifsans-serif!important;
	font-size: 14px;
}

a:hover {
	text-decoration: underline;
}

.hidden {
	display: none;
}

#map-container {
	z-index: 3;
	display: block;
  left: auto;
  width: 34%;
	height: auto;
	position: fixed !important; // keep this to prevent from scrolling
	top: 105px;
	bottom: 0px;
  right: 0px;
}


/*
	Font Elements
*/

h1 {
	font-size: 24px;
	font-style: italic;
	font-weight: bold;
}

h2 {
	text-align: center;
	margin-bottom: 10px;
	font-weight: bold;
}

p {
	line-height: 16px;
}

img {
	width: 100%;
	height: 100%;
}

small {
	font-size: 9px;
	color: gray;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serifsans-serif!important;
}

/*
	Header Rules
*/

hr {
	border: 0;
	height: 1px;
	background-color: lightgray;
}

.hr-top, .hr-bottom {
	width: 100%;
	margin: 0;
}

.hr-top {
	height: 2px;
	margin-bottom: 1px;
}

/*
	Images
*/

.thumbnail {
	height: 100px;
}

.thumbnail img {
	object-fit: cover;
}

/*
	Inputs
*/

.input-wrapper {
	display: flex;
	margin: 5px 0;
}

.input-wrapper input {
	flex: 1;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serifsans-serif!important;
	padding: 0 10px;
	border: 1px solid gray;
	border-right: none;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.input-wrapper button {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

input[type="search"] {
	padding: 5px;
}


*:before,
*:after,
hr,
hr:before,
hr:after,
input[type="search"],
input[type="search"]:before,
input[type="search"]:after {
	box-sizing: border-box;
}
