/* PHASE 0: Reset */

html, body, header, nav, h1, a, button,
ul, li, strong, main, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serifsans-serif !important;
  color: #484848;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  background: transparent;
  -webkit-font-smoothing: antialiased;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button,
input[type="submit"] {
  cursor: pointer;
}

/* Clearfix */

.group:after {
  content: "";
  display: block;
  clear: both;
}
